# Weather Analysis


<!-- Use left, center or right. Font size doesn't seem to change.-->
<p>
<div style="text-align: center;">
    <img src="img/palmerpenguins.png" width="10%">
</div>
<div style="text-align: center" font = 7> Picture copyright cccc </div>  
</p>  

****

| Topic | Details |
|---------|-------------|
| **Module:**  | 8645 - Computer Infrastructure  |
| **Lecturer:**  | Ian McLoughlin  | 
| **Course:**  | Higher Diploma in Science in Computing (Data Analytics)  |
| **Year/Semester:**  | Year 1 / Semester 2  |
| **Author:**  | David O'Connell  |
| **Student ID:**  | G00438912  |
| **Student Email:**  | G00438912@atu.ie  |  
   
****

In [2]:
# Data frames
import pandas as pd

## Collecting the Data  

The following code outputs the filename used to store the data file.  
```bash  
date +"%Y%m%d_%H%M%S_athenry.json  
```  
The `%Y` is replaced by the four-digit year (e.g.2024).

## Analysing the Data

In [2]:
# Read the data
df = pd.read_json('data/weather/20241108_215150_claremorris.json')

In [3]:
# Show the data
df.head(5)

,name,temperature,symbol,weatherDescription,text,windSpeed,windGust,cardinalWindDirection,windDirection,humidity,rainfall,pressure,dayName,date,reportTime
0,Claremorris,13,,N/A,,17,-,SE,135,88,0,1022,Friday,2024-08-11,00:00
1,Claremorris,12,,N/A,,19,-,SE,135,89,0,1021,Friday,2024-08-11,01:00
2,Claremorris,12,,N/A,,17,-,SE,135,89,0,1021,Friday,2024-08-11,02:00
3,Claremorris,12,,N/A,,19,-,SE,135,89,0,1021,Friday,2024-08-11,03:00
4,Claremorris,12,,N/A,,19,-,SE,135,87,0,1021,Friday,2024-08-11,04:00

## End